# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Data
*.dat
output
*.swp

build
class
python/classy.c

*kate-swp
init_files/*
models/*
output/*
scripts/*

*.c~
*.h~
*.py~

#Some of my stuff out there:
replace_script.sh
run_models.sh
tests_leaks_classy.py
bins_test.txt

*.ini
*.ini~

.gitignore~
